# Importation

In [1]:
#pip install pyspark (182MB)

# pip install pandas

In [3]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.functions import *
import pyspark.sql.functions as f

In [2]:
sc = SparkContext()

/home/vagrant/.local/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [4]:
spark = SparkSession.builder.appName("Read CSV").getOrCreate()

# co2 = spark.read.csv("CO2/CO2.csv", header=True, inferSchema=True)
# Client1 = spark.read.csv("Client1/Clients_61.csv", header=True, inferSchema=True)

In [5]:
from pyhive import hive
conn = hive.connect(host='localhost', port=10000)
cursor = conn.cursor()



'''
the function takes a table name as argument take do a select to retrieve the data
tranform the result into Spark dataframe 
and transform the columns
'''
def import_data(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    result = cursor.fetchall()
    data = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])
    # Column transformation
    col = data.columns
    col = col.str.replace(f'{table_name}.', '')
    data.columns = col
    data = spark.createDataFrame(data)

    return data

In [6]:
co2 = import_data('co2_hive_ext')

In [7]:
co2.show()

+---+--------------------+---------------+-------------+-----------+
| id|       marque_modele|    bonus_malus| rejetsco2gkm|coutenergie|
+---+--------------------+---------------+-------------+-----------+
|  2|AUDI E-TRON SPORT...|  -6Â 000â‚¬Â 1|            0|   319Â â‚¬|
|  3|AUDI E-TRON SPORT...|  -6Â 000â‚¬Â 1|            0|   356Â â‚¬|
|  4|AUDI E-TRON 55 (4...|  -6Â 000â‚¬Â 1|            0|   357Â â‚¬|
|  5|AUDI E-TRON 50 (3...|  -6Â 000â‚¬Â 1|            0|   356Â â‚¬|
|  6|       BMW i3 120 Ah|  -6Â 000â‚¬Â 1|            0|   204Â â‚¬|
|  7|      BMW i3s 120 Ah|  -6Â 000â‚¬Â 1|            0|   204Â â‚¬|
|  8|    CITROEN BERLINGO|  -6Â 000â‚¬Â 1|            0|   203Â â‚¬|
|  9|      CITROEN C-ZERO|  -6Â 000â‚¬Â 1|            0|   491Â â‚¬|
| 10|DS DS3 CROSSBACK ...|  -6Â 000â‚¬Â 1|            0|   251Â â‚¬|
| 11|HYUNDAI KONA elec...|  -6Â 000â‚¬Â 1|            0|   205Â â‚¬|
| 12|HYUNDAI KONA elec...|  -6Â 000â‚¬Â 1|            0|   205Â â‚¬|
| 13|JAGUAR I-PACE EV4...|  -6Â 000â‚¬Â 1|            0|   271Â â‚¬|
| 14|"KIA e-NIRO Moteu...| 150kW (204ch)"|-6Â 000â‚¬Â 1|          0|
| 15|"KIA e-NIRO Moteu...| 100kW (136ch)"|-6Â 000â‚¬Â 1|          0|
| 16|KIA SOUL Moteur Ã...|  -6Â 000â‚¬Â 1|            0|   214Â â‚¬|
| 17|KIA SOUL Moteur Ã...|  -6Â 000â‚¬Â 1|            0|   214Â â‚¬|
| 18|MERCEDES EQC 400 ...|  -6Â 000â‚¬Â 1|            0|   291Â â‚¬|
| 19|MERCEDES VITO Tou...|  -6Â 000â‚¬Â 1|            0|   411Â â‚¬|
| 20|MERCEDES VITO Tou...|  -6Â 000â‚¬Â 1|            0|   411Â â‚¬|
| 21|MINI MINI Cooper ...|  -6Â 000â‚¬Â 1|            0|   199Â â‚¬|
+---+--------------------+---------------+-------------+-----------+
only showing top 20 rows

In [8]:
co2 = co2.filter((f.col("bonus_malus") != " 150kW (204ch)\"") & (f.col("bonus_malus") != ' 100kW (136ch)"'))

In [9]:
co2.show()

+---+--------------------+-------------+------------+-----------+
| id|       marque_modele|  bonus_malus|rejetsco2gkm|coutenergie|
+---+--------------------+-------------+------------+-----------+
|  2|AUDI E-TRON SPORT...|-6Â 000â‚¬Â 1|           0|   319Â â‚¬|
|  3|AUDI E-TRON SPORT...|-6Â 000â‚¬Â 1|           0|   356Â â‚¬|
|  4|AUDI E-TRON 55 (4...|-6Â 000â‚¬Â 1|           0|   357Â â‚¬|
|  5|AUDI E-TRON 50 (3...|-6Â 000â‚¬Â 1|           0|   356Â â‚¬|
|  6|       BMW i3 120 Ah|-6Â 000â‚¬Â 1|           0|   204Â â‚¬|
|  7|      BMW i3s 120 Ah|-6Â 000â‚¬Â 1|           0|   204Â â‚¬|
|  8|    CITROEN BERLINGO|-6Â 000â‚¬Â 1|           0|   203Â â‚¬|
|  9|      CITROEN C-ZERO|-6Â 000â‚¬Â 1|           0|   491Â â‚¬|
| 10|DS DS3 CROSSBACK ...|-6Â 000â‚¬Â 1|           0|   251Â â‚¬|
| 11|HYUNDAI KONA elec...|-6Â 000â‚¬Â 1|           0|   205Â â‚¬|
| 12|HYUNDAI KONA elec...|-6Â 000â‚¬Â 1|           0|   205Â â‚¬|
| 13|JAGUAR I-PACE EV4...|-6Â 000â‚¬Â 1|           0|   271Â â‚¬|
| 16|KIA SOUL Moteur Ã...|-6Â 000â‚¬Â 1|           0|   214Â â‚¬|
| 17|KIA SOUL Moteur Ã...|-6Â 000â‚¬Â 1|           0|   214Â â‚¬|
| 18|MERCEDES EQC 400 ...|-6Â 000â‚¬Â 1|           0|   291Â â‚¬|
| 19|MERCEDES VITO Tou...|-6Â 000â‚¬Â 1|           0|   411Â â‚¬|
| 20|MERCEDES VITO Tou...|-6Â 000â‚¬Â 1|           0|   411Â â‚¬|
| 21|MINI MINI Cooper ...|-6Â 000â‚¬Â 1|           0|   199Â â‚¬|
| 23|NISSAN Nouvelle N...|-6Â 000â‚¬Â 1|           0|   155Â â‚¬|
| 24|NISSAN Nouvelle N...|-6Â 000â‚¬Â 1|           0|   177Â â‚¬|
+---+--------------------+-------------+------------+-----------+
only showing top 20 rows

# 1- Division entre marque et modele

In [10]:
split_col = split(co2['marque_modele'], ' ')

In [11]:
marque = split_col.getItem(0)

In [12]:
co2 = co2.withColumn('marque', marque)

In [13]:
co2.select("marque").distinct().show()

+----------+
|    marque|
+----------+
|  MERCEDES|
|   PORSCHE|
|   HYUNDAI|
|    TOYOTA|
|     SKODA|
|    NISSAN|
|      LAND|
|   CITROEN|
|   BENTLEY|
|      AUDI|
|      MINI|
|   PEUGEOT|
|    JAGUAR|
|     VOLVO|
|     TESLA|
|       BMW|
|VOLKSWAGEN|
|       KIA|
|     SMART|
|   RENAULT|
+----------+
only showing top 20 rows

In [14]:
co2 = co2.withColumn("marque", regexp_replace("marque", "\"", ""))

In [15]:
co2.select("marque").distinct().show()

+----------+
|    marque|
+----------+
|  MERCEDES|
|   PORSCHE|
|   HYUNDAI|
|    TOYOTA|
|     SKODA|
|    NISSAN|
|      LAND|
|   CITROEN|
|   BENTLEY|
|      AUDI|
|      MINI|
|   PEUGEOT|
|    JAGUAR|
|     VOLVO|
|     TESLA|
|       BMW|
|VOLKSWAGEN|
|       KIA|
|     SMART|
|   RENAULT|
+----------+
only showing top 20 rows

In [16]:
co2 = co2.withColumn(
    "model",
    expr("substring(`marque_modele`, length(`Marque`) + 2)")
)

In [17]:
co2.select("model").show()

+--------------------+
|               model|
+--------------------+
|E-TRON SPORTBACK ...|
|E-TRON SPORTBACK ...|
|E-TRON 55 (408ch)...|
|E-TRON 50 (313ch)...|
|           i3 120 Ah|
|          i3s 120 Ah|
|            BERLINGO|
|              C-ZERO|
|DS3 CROSSBACK E-T...|
|KONA electric 64 kWh|
|KONA electric 39 kWh|
|I-PACE EV400 (400...|
|SOUL Moteur ÃƒÂ©l...|
|SOUL Moteur ÃƒÂ©l...|
|      EQC 400 4MATIC|
|VITO Tourer long ...|
|VITO Tourer extra...|
|MINI Cooper SE Ha...|
|Nouvelle NISSAN LEAF|
|Nouvelle NISSAN LEAF|
+--------------------+
only showing top 20 rows

In [18]:
co2 = co2.drop("marque_modele")

In [19]:
### co2.show()""

# Traitement des valeur erronées et manquante sur Bonus / Malus

In [20]:
# co2.filter(col("bonus_malus").isNull()).show()

In [21]:
co2.select('bonus_malus').distinct().show()

+-------------+
|  bonus_malus|
+-------------+
|   +7Â 613â‚¬|
|-6Â 000â‚¬Â 1|
|   +7Â 890â‚¬|
|   +7Â 340â‚¬|
|   +6Â 810â‚¬|
|            -|
|   +7Â 073â‚¬|
|   +8Â 460â‚¬|
|   +8Â 173â‚¬|
|   +8Â 753â‚¬|
+-------------+

In [22]:
co2.select('bonus_malus').distinct().show()

+-------------+
|  bonus_malus|
+-------------+
|   +7Â 613â‚¬|
|-6Â 000â‚¬Â 1|
|   +7Â 890â‚¬|
|   +7Â 340â‚¬|
|   +6Â 810â‚¬|
|            -|
|   +7Â 073â‚¬|
|   +8Â 460â‚¬|
|   +8Â 173â‚¬|
|   +8Â 753â‚¬|
+-------------+

In [23]:
co2 = co2.withColumn("bonus_malus", regexp_replace("bonus_malus", "[^\\d-]+", "").cast("int"))

In [24]:
co2.select('bonus_malus').distinct().show()

+-----------+
|bonus_malus|
+-----------+
|       7340|
|       7613|
|       6810|
|       7890|
|       null|
|       7073|
|     -60001|
|       8460|
|       8753|
|       8173|
+-----------+

In [25]:
co2 = co2.withColumn("bonus_malus", f.when(f.col("bonus_malus") == -60001, -6000).otherwise(f.col("bonus_malus")))

In [26]:
co2.show()

+---+-----------+------------+-----------+--------+--------------------+
| id|bonus_malus|rejetsco2gkm|coutenergie|  marque|               model|
+---+-----------+------------+-----------+--------+--------------------+
|  2|      -6000|           0|   319Â â‚¬|    AUDI|E-TRON SPORTBACK ...|
|  3|      -6000|           0|   356Â â‚¬|    AUDI|E-TRON SPORTBACK ...|
|  4|      -6000|           0|   357Â â‚¬|    AUDI|E-TRON 55 (408ch)...|
|  5|      -6000|           0|   356Â â‚¬|    AUDI|E-TRON 50 (313ch)...|
|  6|      -6000|           0|   204Â â‚¬|     BMW|           i3 120 Ah|
|  7|      -6000|           0|   204Â â‚¬|     BMW|          i3s 120 Ah|
|  8|      -6000|           0|   203Â â‚¬| CITROEN|            BERLINGO|
|  9|      -6000|           0|   491Â â‚¬| CITROEN|              C-ZERO|
| 10|      -6000|           0|   251Â â‚¬|      DS|DS3 CROSSBACK E-T...|
| 11|      -6000|           0|   205Â â‚¬| HYUNDAI|KONA electric 64 kWh|
| 12|      -6000|           0|   205Â â‚¬| HYUNDAI|KONA electric 39 kWh|
| 13|      -6000|           0|   271Â â‚¬|  JAGUAR|I-PACE EV400 (400...|
| 16|      -6000|           0|   214Â â‚¬|     KIA|SOUL Moteur ÃƒÂ©l...|
| 17|      -6000|           0|   214Â â‚¬|     KIA|SOUL Moteur ÃƒÂ©l...|
| 18|      -6000|           0|   291Â â‚¬|MERCEDES|      EQC 400 4MATIC|
| 19|      -6000|           0|   411Â â‚¬|MERCEDES|VITO Tourer long ...|
| 20|      -6000|           0|   411Â â‚¬|MERCEDES|VITO Tourer extra...|
| 21|      -6000|           0|   199Â â‚¬|    MINI|MINI Cooper SE Ha...|
| 23|      -6000|           0|   155Â â‚¬|  NISSAN|Nouvelle NISSAN LEAF|
| 24|      -6000|           0|   177Â â‚¬|  NISSAN|Nouvelle NISSAN LEAF|
+---+-----------+------------+-----------+--------+--------------------+
only showing top 20 rows

In [27]:
# Calculate the mode of the column
mode_value = co2.groupBy('bonus_malus').count().sort(f.col('count').desc()).select('bonus_malus').first()[0]

# Replace missing values with the mode
co2 = co2.fillna({'bonus_malus': mode_value})

In [28]:
mode_value

8753

In [29]:
co2.select('bonus_malus').distinct().show()

+-----------+
|bonus_malus|
+-----------+
|       7340|
|       7613|
|      -6000|
|       6810|
|       7890|
|       8753|
|       7073|
|       8460|
|       8173|
+-----------+

In [30]:
# #from pyspark.sql.functions import concat, format_string, col

# co2 = co2.withColumn("Bonus_Malus", format_string("%d€", co2["Bonus / Malus"]))
# co2 = co2.drop("Bonus / Malus")

# Traitement sur Cout Energie

In [31]:
co2.select('coutenergie').distinct().show()

+-----------+
|coutenergie|
+-----------+
|    67Â â‚¬|
|   247Â â‚¬|
|    66Â â‚¬|
|    85Â â‚¬|
|    47Â â‚¬|
|    43Â â‚¬|
|   221Â â‚¬|
|   204Â â‚¬|
|   214Â â‚¬|
|    74Â â‚¬|
|   185Â â‚¬|
|   199Â â‚¬|
|    77Â â‚¬|
|   491Â â‚¬|
|    78Â â‚¬|
|   206Â â‚¬|
|   725Â â‚¬|
|   271Â â‚¬|
|   177Â â‚¬|
|   357Â â‚¬|
+-----------+
only showing top 20 rows

In [32]:
co2.columns

['id', 'bonus_malus', 'rejetsco2gkm', 'coutenergie', 'marque', 'model']

In [33]:
co2 = co2.withColumn("coutenergie", regexp_replace("coutenergie", "[^\\d-]+", "").cast("int"))

In [34]:
co2.select('coutenergie').distinct().show()

+-----------+
|coutenergie|
+-----------+
|        251|
|         85|
|         53|
|         78|
|        155|
|        210|
|        271|
|        209|
|        319|
|        725|
|         47|
|        177|
|        185|
|        291|
|        206|
|        715|
|        205|
|         54|
|        491|
|        235|
+-----------+
only showing top 20 rows

In [35]:
co2.select('rejetsco2gkm').distinct().show()

+------------+
|rejetsco2gkm|
+------------+
|          29|
|          69|
|          42|
|          30|
|          85|
|          35|
|          52|
|           0|
|          47|
|         179|
|          43|
|          31|
|          70|
|          26|
|          46|
|          41|
|          55|
|          38|
|          40|
|          58|
+------------+
only showing top 20 rows

In [36]:
co2 = co2.withColumn("bonus_malus", f.when(f.col("bonus_malus") == -60001, -6000).otherwise(f.col("bonus_malus")))

In [37]:
co2 = co2.withColumn("bonus_malus", regexp_replace("bonus_malus", "[^\\d-]+", "").cast("int"))

In [38]:
co2.select('bonus_malus').distinct().show()

+-----------+
|bonus_malus|
+-----------+
|       7340|
|       7613|
|      -6000|
|       6810|
|       7890|
|       8753|
|       7073|
|       8460|
|       8173|
+-----------+

In [39]:
co2.select('coutenergie').distinct().show()

+-----------+
|coutenergie|
+-----------+
|        251|
|         85|
|         53|
|         78|
|        155|
|        210|
|        271|
|        209|
|        319|
|        725|
|         47|
|        177|
|        185|
|        291|
|        206|
|        715|
|        205|
|         54|
|        491|
|        235|
+-----------+
only showing top 20 rows

In [40]:
co2.select('marque').distinct().show()

+----------+
|    marque|
+----------+
|  MERCEDES|
|   PORSCHE|
|   HYUNDAI|
|    TOYOTA|
|     SKODA|
|    NISSAN|
|      LAND|
|   CITROEN|
|   BENTLEY|
|      AUDI|
|      MINI|
|   PEUGEOT|
|    JAGUAR|
|     VOLVO|
|     TESLA|
|       BMW|
|VOLKSWAGEN|
|       KIA|
|     SMART|
|   RENAULT|
+----------+
only showing top 20 rows

# Jointure

In [41]:
catalogue = import_data('catalogue_hive_ext')

In [42]:
catalogue.show()

+----------+----------------+---------+-----------+--------+--------+-------+--------+------+-----+
|    marque|             nom|puissance|   longueur|nbplaces|nbportes|couleur|occasion|  prix|   id|
+----------+----------------+---------+-----------+--------+--------+-------+--------+------+-----+
|Volkswagen|  New Beatle 1.8|      110|    moyenne|       5|       5|   gris|   false| 26630|0E-18|
|Volkswagen|    Golf 2.0 FSI|      150|    moyenne|       5|       5|  blanc|    true| 16029|0E-18|
|      Seat|      Toledo 1.6|      102|     longue|       5|       5|   gris|   false| 18880|0E-18|
|      Seat|      Toledo 1.6|      102|     longue|       5|       5|   bleu|   false| 18880|0E-18|
|      Saab|        9.3 1.8T|      150|     longue|       5|       5|   gris|    true| 27020|0E-18|
|   Renault|Vel Satis 3.5 V6|      245|tr�s longue|       5|       5|   noir|    true| 34440|0E-18|
|   Renault|  Megane 2.0 16V|      135|    moyenne|       5|       5|  rouge|    true| 15644|0E-18|
|   Renault|  Megane 2.0 16V|      135|    moyenne|       5|       5|   bleu|   false| 22350|0E-18|
|   Renault|  Megane 2.0 16V|      135|    moyenne|       5|       5|  rouge|   false| 22350|0E-18|
|   Renault|     Laguna 2.0T|      170|     longue|       5|       5|  rouge|    true| 19110|0E-18|
|   Peugeot|        1007 1.4|       75|     courte|       5|       5|   noir|   false| 13750|0E-18|
|   Peugeot|        1007 1.4|       75|     courte|       5|       5|  rouge|   false| 13750|0E-18|
|   Peugeot|        1007 1.4|       75|     courte|       5|       5|   noir|    true|  9625|0E-18|
|    Nissan|      Almera 1.8|      115|    moyenne|       5|       5|   gris|   false| 16450|0E-18|
|  Mercedes|            S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|
|  Mercedes|            A200|      136|    moyenne|       5|       5|   noir|    true| 18130|0E-18|
|    Lancia| Ypsilon 1.4 16V|       90|     courte|       5|       3|   noir|   false| 13500|0E-18|
|    Lancia| Ypsilon 1.4 16V|       90|     courte|       5|       3|  blanc|    true|  9450|0E-18|
|    Jaguar|   X-Type 2.5 V6|      197|     longue|       5|       5|   gris|   false| 37100|0E-18|
|    Jaguar|   X-Type 2.5 V6|      197|     longue|       5|       5|   bleu|   false| 37100|0E-18|
+----------+----------------+---------+-----------+--------+--------+-------+--------+------+-----+
only showing top 20 rows

In [43]:
catalogue.select('marque').distinct().show(21)

+----------+
|    marque|
+----------+
|Volkswagen|
|   Peugeot|
|    Jaguar|
|    Lancia|
|      Mini|
|       Kia|
|     Volvo|
|      Saab|
|     Honda|
|      Audi|
|      Seat|
|  Mercedes|
|   Renault|
|       BMW|
|     Dacia|
|  Daihatsu|
|    Nissan|
|      Fiat|
|      Ford|
|   Hyunda�|
|     Skoda|
+----------+

In [44]:
catalogue = catalogue.withColumn("marque", f.when(f.col("marque") == 'Hyunda�', 'Hyundai').otherwise(f.col("marque")))

In [45]:
co2.select('marque').distinct().show(21)

+----------+
|    marque|
+----------+
|  MERCEDES|
|   PORSCHE|
|   HYUNDAI|
|    TOYOTA|
|     SKODA|
|    NISSAN|
|      LAND|
|   CITROEN|
|   BENTLEY|
|      AUDI|
|      MINI|
|   PEUGEOT|
|    JAGUAR|
|     VOLVO|
|     TESLA|
|       BMW|
|VOLKSWAGEN|
|       KIA|
|     SMART|
|   RENAULT|
|        DS|
+----------+
only showing top 21 rows

In [46]:
catalogue = catalogue.withColumn("marque", upper(catalogue["marque"]))

In [47]:
co2.select('marque').distinct().show(21)

+----------+
|    marque|
+----------+
|  MERCEDES|
|   PORSCHE|
|   HYUNDAI|
|    TOYOTA|
|     SKODA|
|    NISSAN|
|      LAND|
|   CITROEN|
|   BENTLEY|
|      AUDI|
|      MINI|
|   PEUGEOT|
|    JAGUAR|
|     VOLVO|
|     TESLA|
|       BMW|
|VOLKSWAGEN|
|       KIA|
|     SMART|
|   RENAULT|
|        DS|
+----------+
only showing top 21 rows

In [48]:
voiture = catalogue.join(co2, "marque", "left")

In [51]:
catalogue.show()

+--------+----+---------+-----------+--------+--------+-------+--------+------+-----+---+-----------+------------+-----------+--------------------+
|  marque| nom|puissance|   longueur|nbplaces|nbportes|couleur|occasion|  prix|   id| id|bonus_malus|rejetsco2gkm|coutenergie|               model|
+--------+----+---------+-----------+--------+--------+-------+--------+------+-----+---+-----------+------------+-----------+--------------------+
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|459|       8753|         262|       1051|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|458|       8753|         262|       1051|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|457|       8753|         260|       1041|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|456|       8753|         260|       1041|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|455|       8753|         255|       1020|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|454|       8753|         255|       1020|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|453|       8753|         255|       1020|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|452|       8753|         252|       1009|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|451|       8753|         252|       1009|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|450|       8753|         252|       1009|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|449|       8753|         252|       1009|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|448|       8753|         252|       1009|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|447|       8753|         250|        999|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|446|       8753|         250|        999|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|445|       8753|         249|        988|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|444|       8753|         249|        988|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|443|       8753|         246|        988|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|441|       8753|         246|        988|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|440|       8753|         246|        988|SPRINTER Combi 31...|
|MERCEDES|S500|      306|tr�s longue|       5|       5|  rouge|   false|101300|0E-18|439|       8753|         245|        978|SPRINTER Combi 31...|
+--------+----+---------+-----------+--------+--------+-------+--------+------+-----+---+-----------+------------+-----------+--------------------+
only showing top 20 rows

In [49]:
catalogue.toPandas()

,marque,nom,puissance,longueur,nbplaces,nbportes,couleur,occasion,prix,id,id,bonus_malus,rejetsco2gkm,coutenergie,model
0,MERCEDES,S500,306,tr�s longue,5,5,rouge,False,101300,0E-18,459.0,8753.0,262,1051.0,SPRINTER Combi 319 CDI (190ch) 4x4 PTAC 3500 k...
1,MERCEDES,S500,306,tr�s longue,5,5,rouge,False,101300,0E-18,458.0,8753.0,262,1051.0,SPRINTER Combi 319 CDI (190ch) 4x4 PTAC 3500 k...
2,MERCEDES,S500,306,tr�s longue,5,5,rouge,False,101300,0E-18,457.0,8753.0,260,1041.0,SPRINTER Combi 319 CDI (190ch) 4x4 PTAC 3500 k...
3,MERCEDES,S500,306,tr�s longue,5,5,rouge,False,101300,0E-18,456.0,8753.0,260,1041.0,SPRINTER Combi 319 CDI (190ch) 4x4 PTAC 3500 k...
4,MERCEDES,S500,306,tr�s longue,5,5,rouge,False,101300,0E-18,455.0,8753.0,255,1020.0,SPRINTER Combi 319 CDI (190ch) 4x2 PTAC 3500 k...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7645,RENAULT,Espace 2.0T,165,longue,7,5,noir,True,21245,0E-18,29.0,-6000.0,0,206.0,ZOE (51Kw)
7646,RENAULT,Espace 2.0T,165,longue,7,5,noir,True,21245,0E-18,28.0,-6000.0,0,206.0,ZOE (43Kw)
7647,LANCIA,Ypsilon 1.4 16V,90,courte,5,3,bleu,False,13500,0E-18,NaN,NaN,None,NaN,None
7648,LANCIA,Ypsilon 1.4 16V,90,courte,5,3,rouge,False,13500,0E-18,NaN,NaN,None,NaN,None
7649,LANCIA,Ypsilon 1.4 16V,90,courte,5,3,bleu,True,9450,0E-18,NaN,NaN,None,NaN,None

In [50]:
voiture.select('rejetsco2gkm').distinct().show(21)

NameError: name 'voiture' is not defined

In [ ]:
voiture.select('bonus_malus').distinct().show(21)

# Import Data

## Formatage des données de co2 et catalogue

In [ ]:
catalogues['marque'] = catalogues['marque'].str.upper()
co2_pandas['marque'] = co2_pandas['marque'].str.upper()

# Hive as frontal

In [ ]:
def mapper(line):  
    line = tuple(line) 

    # colonne marque
    marque =  line[1].split(" ")[0].replace("\"", "").capitalize() #replace quote near Volswagen
    # colonne Malus/Bonus
    if line[2] in [" 150kW (204ch)\"", " 100kW (136ch)\""]:
        return (None, None)
#     malus_bonus = line[2].strip().replace("¬Â\xa01", "").replace(r"[\d-]+", "").replace("€", "").replace("\"", "")
    malus_bonus = line[2].strip().replace("¬Â\xa01", "").replace(r"[\d-]+", "").replace("€", "").replace("\"", "")

    malus_bonus = ''.join(re.findall(r"[\d-]+", malus_bonus))
    
#     missing values bonus_malus
    malus_bonus = "0" if len(malus_bonus) == 1 else malus_bonus
    # colonne cout energie
    cout = line[-1]
    cout_splitted = cout.replace('Â', '').split()
    cout = cout_splitted[0] + cout_splitted[1] if len(cout_splitted) == 3 else cout_splitted[0] if len(cout_splitted) == 2 else cout
    cout = cout.encode('ascii', 'ignore').decode('ascii').replace(',', '')
    
    # colonne Rejet CO2
    rejet = line[3]

    malus_bonusInt = int(malus_bonus)
    rejetInt = (rejet)
    coutInt = int(cout)

    # on crée le couple key value avec la marque comme key
    new_value = f"{malus_bonusInt}|{rejetInt}|{coutInt}"
    return (marque, new_value)

In [ ]:
co2_mapped = co2.rdd.map(mapper)

In [ ]:
co2_mapped.collect()

In [ ]:
l = co2_mapped.collect()
for k, v in l :
    if(v):
        v_s = v.split('|')
        for vv in v_s : 
            if '-' in vv:
#                 print("eureka", vv)

                
                
# s = '-123'  # example string with a hyphen
# if '-' in s:
#     # handle negative number separately
#     num = int(s[1:]) * -1
# else:
#     num = int(s)
# print(num)

# Reduce

In [ ]:
def reduce_function(key, values):
    if(key is not None and values is not None) :
        sum_bonus_malus = 0
        sum_rejet = 0
        sum_cout = 0
        count = 0
        for value in values: 
            node = value.split('|')
            if('-' in node[0] ) :
                malus_bonus = -1 * int("0" + node[0][1:])
            else :
                malus_bonus = node[0] 

            rejet =  int(node[1]) 
            cout = int(node[2])

            # Somme des valeurs
            sum_bonus_malus += malus_bonus
            sum_rejet += rejet
            sum_cout += cout

            # Compteur de voitures
            count += 1

        # Calcul des moyennes
        avg_malus_bonus = sum_bonus_malus / count
        avg_rejet = sum_rejet / count
        avg_cout = sum_cout / count

        # Ecriture des moyennes pour chaque clé
        return key, f'{avg_malus_bonus}\t{avg_rejet}\t{avg_cout}'
    else : 
        return None

In [ ]:
co2_mapped.reduceByKey(reduce_function).collect()

In [ ]:
co2.join(catalogue)

In [ ]:
s = ''  # example empty string
if bool(s):
    num = int(s)
    print(num)
else:
    print("The string is empty.")